include .appveyor.yml
include .gitignore
include CMakeLists.txt
include LICENSE
include README.md
include SuperBuild/External-CLOUDFLARE-ZLIB.cmake
include SuperBuild/SuperBuild.cmake
include js/README.md
include js/esbuild.config.js
include js/index.html
include js/package-lock.json
include js/package.json
include js/scripts/parseNiimathHelp.js
include js/scripts/pre-build.js
include js/src/index.js
include js/src/niimathOperators.json
include js/src/worker.js
include src/CMakeLists.txt
include src/Info.plist
include src/LookUpTable.h
include src/Makefile
include src/MarchingCubes.c
include src/MarchingCubes.h
include src/arm_malloc.h
include src/base64.c
include src/base64.h
include src/bw.c
include src/bw.h
include src/bwlabel.c
include src/bwlabel.h
include src/conform.c
include src/conform.h
include src/core.c
include src/core.h
include src/core32.c
include src/core32.h
include src/core64.c
include src/core64.h
include src/coreFLT.c
include src/fdr.c
include src/fdr.h
include src/license.txt
include src/meshify.c
include src/meshify.h
include src/meshtypes.h
include src/niftilib/nifti1.h
include src/niftilib/nifti2.h
include src/niftilib/nifti2_io.c
include src/niftilib/nifti2_io.h
include src/niftilib/nifti2_io_version.h
include src/niimath.c
include src/notarize.sh
include src/oldcubes.c
include src/oldcubes.h
include src/print.h
include src/quadric.c
include src/quadric.h
include src/radixsort.c
include src/radixsort.h
include src/sse2neon.h
include src/tensor.c
include src/tensor.h
include src/ucm.cmake
include src/windows.bat
include src/znzlib/config.h
include src/znzlib/znzlib.c
include src/znzlib/znzlib.h
exclude MANIFEST.in